<div>
  <h1>This is an angular component!</h1>
  This is html which describes the view of this component.
  <hr>
  Enter your name: <input type="text" [(ngModel)]='name'><br>
  Enter your other name: <input type="text" [(ngModel)]='name'><br>
  <p>Hello, {{ name }} !!!</p>

  <button (click)="click()">defaultify</button>


  <div>
    <app-test></app-test>
    <app-test2></app-test2>
  </div>
  <app-text></app-text>

  <hr>
  left and right should be here:
  <app-left></app-left>
  <app-right></app-right>


</div>